svg {
	height: 100vh;
}

#nose {
	fill: pink;
	stroke: black;
	stroke-width: 0.5px;
}

#mouth {
	fill: red;
	stroke: black;
	stroke-width: 1px;
	
	transform-origin: center;
	transform-box: fill-box;

	transition: 0.5s;
}

#mouth.upside-down {
	transform: rotate(180deg);
}